:root, [data-bs-theme=light] {
  --bs-secondary: #000;
  --bs-secondary-rgb: 0,0,0;
  --bs-secondary-text-emphasis: #000000;
  --bs-secondary-bg-subtle: #CCCCCC;
  --bs-secondary-border-subtle: #999999;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 217,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000;
  --bs-btn-disabled-border-color: #000;
}

.btn-outline-secondary {
  --bs-btn-color: #000;
  --bs-btn-border-color: #000;
  --bs-btn-focus-shadow-rgb: 0,0,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000;
  --bs-btn-hover-border-color: #000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000;
  --bs-btn-active-border-color: #000;
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000;
}

[data-bs-theme=dark] {
  --bs-secondary: #808080;
  --bs-secondary-rgb: 128,128,128;
  --bs-secondary-text-emphasis: #B3B3B3;
  --bs-secondary-bg-subtle: #1A1A1A;
  --bs-secondary-border-subtle: #4D4D4D;
  --bs-danger: #ff3e50;
  --bs-danger-rgb: 255,62,80;
  --bs-danger-text-emphasis: #FF8B96;
  --bs-danger-bg-subtle: #330C10;
  --bs-danger-border-subtle: #992530;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #808080;
  --bs-btn-border-color: #808080;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #939393;
  --bs-btn-hover-border-color: #8D8D8D;
  --bs-btn-focus-shadow-rgb: 19,19,19;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #999999;
  --bs-btn-active-border-color: #8D8D8D;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #808080;
  --bs-btn-disabled-border-color: #808080;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #808080;
  --bs-btn-border-color: #808080;
  --bs-btn-focus-shadow-rgb: 128,128,128;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #808080;
  --bs-btn-hover-border-color: #808080;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #808080;
  --bs-btn-active-border-color: #808080;
  --bs-btn-disabled-color: #808080;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #808080;
}

[data-bs-theme=dark] .btn-danger, .btn-danger[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ff3e50;
  --bs-btn-border-color: #ff3e50;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FF5B6A;
  --bs-btn-hover-border-color: #FF5162;
  --bs-btn-focus-shadow-rgb: 38,9,12;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FF6573;
  --bs-btn-active-border-color: #FF5162;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ff3e50;
  --bs-btn-disabled-border-color: #ff3e50;
}

[data-bs-theme=dark] .btn-outline-danger, .btn-outline-danger[data-bs-theme=dark] {
  --bs-btn-color: #ff3e50;
  --bs-btn-border-color: #ff3e50;
  --bs-btn-focus-shadow-rgb: 255,62,80;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ff3e50;
  --bs-btn-hover-border-color: #ff3e50;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ff3e50;
  --bs-btn-active-border-color: #ff3e50;
  --bs-btn-disabled-color: #ff3e50;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ff3e50;
}

